.app-layout {
  min-height: 100vh;
  background: #f0f2f5;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1aae1d;
  padding: 0 10px;
}

.nav-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.nav-right{

  display: flex;
  gap: 15px;
  margin-left: auto; 
}
.search-categories-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.search-bar {
  max-width: 500px;
  margin-left: auto;
}

.categories {
  display: flex;
  gap: 10px;
}
.menu-toggle {
  color: #fff;
  background-color: transparent;
  border: none;
}

.app-content {
  padding: 24px;
  background: #fff;
}

.app-footer {
  text-align: center;
  background: #0cbe65;
  color: #fff;
  padding: 10px 0;
}
